<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal</title>
</head>
<body>
    <h1>Elije la banda que mas te interesaria saber</h1>
    
    <ul>
        <li>
            <a href='Metallica/'>Metallica</a>
        </li>
        <li>
            <a href='Megadeth/'>Megadeth</a>
        </li>
        <li>
            <a href='Judas Priest/'>Judas Priest</a> 
        </li>
    </ul>
   
</body>
</html>