<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leandrito</title>
</head>
<body>
    <h1>Bienvenidos a lo de Leandrito</h1>
    <h1>Todo lo que necesitas para que te vuele el marote</h1>
    <ul>
        <li>
            <a href='Metal/'>Metal</a>
        </li>
        <li>
            <a href='Punk/'>Punk</a>
        </li>
        <li>
            <a href='Rock/'>Rock</a> 
        </li>
    </ul>
    <footer>Todos los derechos son mios</footer>
</body>
</html>